/* Estilo de cores para entidades inativas */
.entidade-card.inativo {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    margin-top: 15px;
    margin-bottom: 10;
    transition: all 0.5s ease;
}
.entidade-card:hover{
    transform: scale(1.1);
    z-index: 1;
}
.row::selection(col-md-4):hover> :not(:hover){
   filter: blur(5px);
   opacity: 0.5;
}



.nav{
    display: flex;
    /* justify-content: top; */
    align-items: center;
    /* height: 10vh; */
    margin-left: 35%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/* Estilo de espaçamento e alinhamento */
.container {
    margin-top: 20px;
}

.card-dinamico {
    display: none;
}
