<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <title>Seja Bem Vindo</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Quality Sistemas<br></h1>
            <img src="{{ url_for('static', filename='images/img1.svg') }}" class="left-login-image" alt="IMG">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Painel de Acesso</h1>

                <form class="textfield" method="POST" action="{{ url_for('home') }}">
                    <label for="username">Digite seu nome:</label>
                    <input type="text" name="username" required>
                    <button class="bnt-login" type="submit">Acessar</button>
                </form>
            </div>  
        </div>     
    </div> 
</body>
